.hero
  background-image: url(../static/img/hero-bg.jpg)
  background-position: right top
  background-repeat: no-repeat
  background-size: cover 50%
  &-content
    padding-top: 145px
    padding-bottom: 200px
    max-width: 50%
  &-title
    font-size: 45px
    width: 435px
    text-align-last: left
  &-slogan
    font-size: 44px
    margin-top: 64px
    margin-bottom: 54px